$color: #262828;
$backgroundcolor: #C6FFFC;
body {
  color: $color;
  background-color: $backgroundcolor;
}

h2{
	color: red;
}
.verde {
  color: green;
}
.rojo {
  color: red;
}
Detail {
  color: yellow;
}